<div class="row">
  <div class="col-md-6"> 
    <h3>Pre-workshop Troubleshooting (optional): May 6</h3>
    <p>
		    The instructors and helpers will host a one-hour troubleshooting session on <strong>Thursday, May 6 at 11am EDT</strong> to address any issue you may encounter while installing the required software. Attendance is not required, just drop in if you have questions or issues.
	    </p>  
  </div>
</div>
<div class="row">
<div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>01:00 PM</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Introductions & Pre-Survey </a></td> </tr>
      <tr> <td>01:05 PM</td>  <td><a href="http://swcarpentry.github.io/shell-novice/" target="_blank">Shell overview by Annajiat</a></td> </tr>
      <tr> <td>02:05 PM</td>  <td>Break</td> </tr>
      <tr> <td>02:20 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/01-run-quit/index.html" target="_blank">1. Running and Quitting by Callum</a></td> </tr>
      <tr> <td>02:25 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/02-variables/index.html" target="_blank">2. Variables and Assignment</a></td> </tr>
      <tr> <td>02:30 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/03-types-conversion/index.html" target="_blank">3. Data Types and Type Conversion</a></td> </tr>
      <tr> <td>02:35 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/04-built-in/index.html" target="_blank">4. Built-in Functions and Help</a></td> </tr>
      <tr> <td>02:45 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/06-libraries/index.html" target="_blank">6. Libraries</a></td> </tr>
      <tr> <td>03:00 PM</td>  <td>Break</td> </tr>
      <tr> <td>03:15 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/07-reading-tabular/index.html" target="_blank">7. Reading Tabular Data into DataFrames</a></td> </tr>
      <tr> <td>03:35 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/08-data-frames/index.html" target="_blank">8. Pandas DataFrames</a></td> </tr>
      <tr> <td>04:05 PM</td>  <td>Break</td> </tr>
      <tr> <td>04:20 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/09-plotting/index.html" target="_blank">9. Plotting</a></td> </tr>
      <tr> <td>04:50 PM</td>  <td>Wrap up</td> </tr>
      <tr> <td>04:55 PM</td>  <td>End</td> </tr>
     </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>01:00 PM</td>  <td><a href="http://swcarpentry.github.io/git-novice/01-basics/index.html" target="_blank">1. Automated Version Control by Sarah</a></td> </tr>
      <tr> <td>01:05 PM</td>  <td><a href="http://swcarpentry.github.io/git-novice/02-setup/index.html" target="_blank">2. Setting Up Git</a></td> </tr>
      <tr> <td>01:15 PM</td>  <td><a href="http://swcarpentry.github.io/git-novice/03-create/index.html" target="_blank">3. Creating a Repository</a></td> </tr>
      <tr> <td>01:25 PM</td>  <td><a href="http://swcarpentry.github.io/git-novice/04-changes/index.html" target="_blank">4. Tracking Changes</a></td> </tr>
      <tr> <td>01:45 PM</td>  <td>Break</td> </tr>
      <tr> <td>02:00 PM</td>  <td><a href="http://swcarpentry.github.io/git-novice/05-history/index.html" target="_blank">5. Exploring History</a></td> </tr>
      <tr> <td>02:25 PM</td>  <td><a href="http://swcarpentry.github.io/git-novice/06-ignore/index.html" target="_blank">6. Ignoring Things</a></td> </tr>
      <tr> <td>02:30 PM</td>  <td><a href="http://swcarpentry.github.io/git-novice/07-github/index.html" target="_blank">7. Remotes in GitHub</a></td> </tr>
      <tr> <td>03:00 PM</td>  <td>Break</td> </tr>
      <tr> <td>03:15 PM</td>  <td><a href="http://swcarpentry.github.io/git-novice/08-collab/index.html" target="_blank">8. Collaborating</a></td> </tr>
      <tr> <td>03:40 PM</td>  <td><a href="http://swcarpentry.github.io/git-novice/09-conflict/index.html" target="_blank">9. Conflicts</a></td> </tr>
      <tr> <td>03:55 PM</td>  <td>Break</td> </tr>
      <tr> <td>04:10 PM</td>  <td><a href="http://swcarpentry.github.io/git-novice/10-open/index.html" target="_blank">10. Open Science</a></td> </tr>
      <tr> <td>04:20 PM</td>  <td><a href="http://swcarpentry.github.io/git-novice/11-licensing/index.html" target="_blank">11. Licensing</a></td> </tr>
      <tr> <td>04:25 PM</td>  <td><a href="http://swcarpentry.github.io/git-novice/12-citation/index.html" target="_blank">12. Citation</a></td> </tr>
      <tr> <td>04:30 PM</td>  <td><a href="http://swcarpentry.github.io/git-novice/13-hosting/index.html" target="_blank">13. Hosting</a></td> </tr>
      <tr> <td>04:40 PM</td>  <td>GitHub at NOAA</td> </tr>
      <tr> <td>04:50 PM</td>  <td>Wrap-up</td> </tr>
      <tr> <td>04:55 PM</td>  <td>End</td> </tr>
     </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>01:00 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/12-for-loops/index.html" target="_blank">12. For Loops by Jonathan</a></td> </tr>
      <tr> <td>01:25 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/13-conditionals/index.html" target="_blank">13. Conditionals</a></td> </tr>
      <tr> <td>01:50 PM</td>  <td>Break</td> </tr>
      <tr> <td>02:05 PM</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/09-errors/index.html" target="_blank">9. Errors and Exceptions</a></td> </tr>
      <tr> <td>02:50 PM</td>  <td>Break</td> </tr>
      <tr> <td>03:05 PM</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/10-defensive/index.html" target="_blank">10. Defensive Programming by Annajiat</a></td> </tr>
      <tr> <td>03:50 PM</td>  <td>Break</td> </tr>
      <tr> <td>04:05 PM</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/11-debugging/index.html" target="_blank">11. Debugging</a></td> </tr>
      <tr> <td>04:50 PM</td>  <td>Wrap-up</td> </tr>
      <tr> <td>04:55 PM</td>  <td>End</td> </tr>
     </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>08:00 AM</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/12-cmdline/index.html" target="_blank">12. Command-Line Programs by Jonathan</a></td> </tr>
      <tr> <td>09:00 AM</td>  <td>Break</td> </tr>
      <tr> <td>09:15 AM</td>  <td>Review and Practice by Callum</td> </tr>
      <tr> <td>10:25 AM</td>  <td>Break</td> </tr>
      <tr> <td>10:40 AM</td>  <td>Review and Practice by Callum</td> </tr>
      <tr> <td>11:40 AM</td>  <td>Wrap-up</td> </tr>
      <tr> <td>11:45 AM</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-Workshop Survey</a></td> </tr>
      <tr> <td>11:50 AM</td>  <td>END</td> </tr>
     </table>
  </div>
</div>
